body { 
	max-width: 950px;
  margin: 10% auto;
	font-size: 18px;
	border-top: 5px solid #222222;
	border-bottom: 5px solid #222222;
	padding: 50px;
}

body > div:nth-child(4){
	width: 80%;
  float: left;
}

body > div:nth-child(5) {
	float: right;
}

img {
	height: 150px;
	float: right;
	border: 1px solid;
}

a {
	font-weight: bold;
	text-align: center;
	color: black;
}

nav {
	text-align: center;
}

h1 {
	text-align: center;
	text-transform: uppercase;
}

